@{
    ViewData["Title"] = "Register Journey";
}
<div class="flex justify-center items-center h-screen bg-slate-200">
    <div class="block bg-slate-100 p-6 rounded-lg shadow-md shadow-slate-300 w-90">
        <div class="text-lg">Register new Journey:</div>
        <br>
        <div class="block bg-slate-50 p-6 rounded-lg shadow-md shadow-slate-300 w-90">
            <form>
                <label>Starting Location:</label><br>
                <input class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="startinlocation" placeholder="Input starting location.">
                <label>End Location:</label><br>
                <input class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="startinlocation" placeholder="Input end location.">
                <button type="button" class="bg-blue-700 rounded-lg w-full text-white min-h-fit">Add</button>
            </form>
        </div>
        <br>
        <div class="block bg-blue-700 p-6 rounded-lg shadow-md shadow-slate-300 text-white w-90">test
        </div>
    </div>
</div>
