@model CGI.Models.Journey

<h2>Edit Journey</h2>

<form asp-action="Edit" method="post">
<input type="hidden" asp-for="Journey_ID" />
<div>
    <label asp-for="User_ID">User ID:</label>
    <input asp-for="User_ID" />
</div>
<div>
    <label asp-for="Total_Distance">Total Distance:</label>
    <input asp-for="Total_Distance" />
</div>
<div>
    <label asp-for="Total_Emission">Total Emission:</label>
    <input asp-for="Total_Emission" />
</div>
<div>
    <label asp-for="Start">Start:</label>
    <input asp-for="Start" />
</div>
<div>
    <label asp-for="End">End:</label>
    <input asp-for="End" />
</div>
<div>
    <label asp-for="Date">Date:</label>
    <input asp-for="Date" type="date" />
</div>
    <button type="submit">Save</button>
</form>
