@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Journey";
}
@model UsersViewModel

<h2>User List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var User in Model.Users)
        {
            <tr>
                <td>@User.ID</td>
            </tr>
        }
    </tbody>
</table>