@{
    ViewData["Title"] = "Manage Journey";
}

<div class="flex">
    <div class="border-2 border-black overflow-y-auto h-screen w-1/4">
        <ul>
            <li class="border-b-2 border-black px-2 py-1 cursor-pointer hover:bg-green-400 active:bg-green-300">
                <h2>1e Rit | 06-03-2023</h2>
                <p>5.64 km | Auto (diesel)</p>
            </li>
            <li class="border-b-2 border-black px-2 py-1 cursor-pointer hover:bg-green-400 active:bg-green-300">
                <h2>&lt;Titel&gt; | &lt;Datum&gt;</h2>
                <p>&lt;Aantal&gt; km | &lt;1e vervoer&gt;</p>
            </li>
        </ul>
    </div>
    <div class="relative overflow-hidden flex-1 custom-font">
        <div class="px-4 py-2 bg-gray-300 text-center">
            <h1>Journey Information</h1>
        </div>
        <div class="relative">
            <button class="absolute top-4 right-4 z-0 border-black border-2 bg-red-600 hover:bg-red-400 active:bg-red-200 px-4 py-2 rounded-md">Delete journey</button>
        </div>
        <div class="p-5 mb-20">
            <div>
                <h3 class="inline-block mr-1">Date:</h3>
                <p class="inline-block">06-03-2023</p>
            </div>
            <div>
                <h3 class="inline-block mr-1">Total distance:</h3>
                <p class="inline-block">56.3</p>
                <p class="inline-block">km</p>
            </div>
        </div>
        <div class="px-4 py-2">
            <h3>Stopovers:</h3>
        </div>
        <div class="px-4 py-2 border-t-2 border-black overflow-y-scroll max-h-96">
            <ul class="stopovers-list">
                <li class="border-b-2 border-black px-2 py-1">
                    <div class="mt-2">
                        <h2>Stopover 1:</h2>
                        <p class="inline-block">Distance:</p>
                        <p class="inline-block">5.23</p>
                        <p class="inline-block">km</p>
                    </div>
                    <div class="mb-2">
                        <p class="inline-block">Vehicle:</p>
                        <p class="inline-block">Car (diesel)</p>
                    </div>        
                </li>
                <li class="border-b-2 border-black px-2 py-1">
                    <div class="mt-2">
                        <h2>Stopover 1:</h2>
                        <p class="inline-block">Distance:</p>
                        <p class="inline-block">42.32</p>
                        <p class="inline-block">km</p>
                    </div>
                    <div class="mb-2">
                        <p class="inline-block">Vehicle:</p>
                        <p class="inline-block">Train</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    const firstUl = document.querySelector('ul:first-of-type');
    const liElements = firstUl.querySelectorAll('li');

    liElements.forEach(li => {
        li.addEventListener('click', () => {
            // Remove the active class from all the li elements of the first ul list.
                liElements.forEach(li => {
                    li.classList.remove('active');
                });

                // Add the active class to the clicked li element.
                li.classList.add('active');
        });
    });
</script>
