@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Regular.ttf) format('opentype');
    font-display: swap;
}

@layer base {
    html {
        font-family: SourceSansPro, Arial;
    }

    h1 {
        @apply text-3xl font-bold;
    }

    h2 {
        @apply text-2xl font-semibold;
    }

    h3 {
        @apply text-xl font-medium;
    }

    h4 {
        @apply text-lg font-light;
    }

    h5 {
        @apply text-sm font-extralight;
    }

    h6 {
        @apply text-xs font-thin;
    }
}

@layer components {
    .striped {
        tr:nth-child(even) {
            @apply bg-gray-100;
        }
    }

    .active {
        @apply bg-green-500;
    }
}
