    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
    </div>

    <div class="grid grid-cols-3 gap-4">
        <div class="cols-span-1">
            <br />
            <button onclick="location.href='./journey/create';" class="text-2xl text-white border-white " style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Create Journey
            </button>
            <br />
            <button onclick="location.href='./journey';" class="text-2xl text-white border-white" style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Manage Journeys
            </button>
            <br />
            <button onclick="location.href='./home/privacy';" class="text-2xl text-white border-white" style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Manage Groups
            </button>
        </div>
        <div class="cols-span-1">
            <h1 class="text-4xl text-center mt-10">Hello &user</h1>
        </div>
        @* <div class="cols-span-1 h-screen grid">
            <div class="row-span-2 border-l-4 border-b-4 border-r-4 border-black">
                <h1 class="text-center border-b-4 border-t-4 border-black">Leaderboard</h1>
                <div class="grid grid-cols-3 border-b-4 border-black mt-1">
                    <div class="cols-span-1 grid-rows-15 text-xl">
                        <p class="mb-6 text-4xl text-amber-500">#1</p>
                        <p class="mb-5 text-3xl text-stone-400">#2</p>
                        <p class="mb-4 text-2xl text-amber-800">#3</p>
                        <p class="mb-3">#4</p>
                        <p class="mb-3">#5</p>
                        <p class="mb-3">#6</p>
                        <p class="mb-3">#7</p>
                        <p class="mb-3">#8</p>
                        <p class="mb-3">#9</p>
                        <p class="mb-3">#10</p>
                        <p class="mb-3">#11</p>
                        <p class="mb-3">#12</p>
                        <p class="mb-3">#13</p>
                        <p class="mb-3">#14</p>
                        <p class="mb-3">#15</p>
                    </div>
                    <div class="cols-span-1 grid-rows-15 text-xl text-center">
                        <p class="mb-6 text-4xl text-amber-500">Jonathan Kat</p>
                        <p class="mb-5 text-3xl text-stone-400">Joost Raemakers</p>
                        <p class="mb-4 text-2xl text-amber-800">Rowan Battles</p>
                        <p class="mb-3">Billy Hofland</p>
                        <p class="mb-3">Kubi</p>
                        <p class="mb-3">Stijn van den Hurk</p>
                        <p class="mb-3">Martijn Lodder</p>
                        <p class="mb-3">Julian Montplier</p>
                        <p class="mb-3">Michiel de Ruijter</p>
                        <p class="mb-3">Robin den Adel</p>
                        <p class="mb-3">Arne Rippe</p>
                        <p class="mb-3">Twimo Hermans</p>
                        <p class="mb-3">Ema Mladenovska</p>
                        <p class="mb-3">Max Struijs</p>
                        <p class="mb-3">Tony Hu</p>
                    </div>
                    <div class="cols-span-1 grid-rows-15 text-xl">
                        <p class="mb-6 text-4xl text-amber-500">Score</p>
                        <p class="mb-5 text-3xl text-stone-400">Score</p>
                        <p class="mb-4 text-2xl text-amber-800">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                        <p class="mb-3">Score</p>
                    </div>
                </div>
            </div>
        </div> *@
        <table class="table-auto w-full bg-transparent h-screen border-black border-4 text-center">
            <thead>
                <tr class="border-b-4 border-black">
                    <th class="px-4 py-2">Rank</th>
                    <th class="px-4 py-2">Player</th>
                    <th class="px-4 py-2">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-3xl px-4 py-2 text-amber-500">1</td>
                    <td class="text-3xl px-4 py-2 text-amber-500">Jonathan Kat</td>
                    <td class="text-3xl px-4 py-2 text-amber-500">Score</td>
                </tr>
                <tr>
                    <td class="text-2xl px-4 py-2 text-stone-400">2</td>
                    <td class="text-2xl px-4 py-2 text-stone-400">Rowan Battles</td>
                    <td class="text-2xl px-4 py-2 text-stone-400">Score</td>
                </tr>
                <tr>
                    <td class="text-xl px-4 py-2 text-amber-800">3</td>
                    <td class="text-xl px-4 py-2 text-amber-800">Julian Montplier</td>
                    <td class="text-xl px-4 py-2 text-amber-800">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">4</td>
                    <td class=" px-4 py-2">Billy Hofland</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class="px-4 py-2">5</td>
                    <td class="px-4 py-2">Robin den Adel</td>
                    <td class="px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">6</td>
                    <td class=" px-4 py-2">Arne Rippe</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">7</td>
                    <td class=" px-4 py-2">Joost Raemakers</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">8</td>
                    <td class=" px-4 py-2">Kubilay Karabulut</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">9</td>
                    <td class=" px-4 py-2">Martijn Lodder</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
                <tr>
                    <td class=" px-4 py-2">10</td>
                    <td class=" px-4 py-2">Stijn van den Hurk</td>
                    <td class=" px-4 py-2">Score</td>
                </tr>
            </tbody>
        </table>
    </div>
