@{
    ViewData["Title"] = "Test Page";
}
<h1 class="text-center text-green-500 pt-10">@ViewData["Title"]</h1>

<p class="text-center text-green-500">Lekker dingen testen hiero, tenminste dat is wel het idee maar dan moet ik eigenlijk wel beginnen</p>
