@model UsersViewModel

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>User Test</title>
    </head>
    <body>
    <h1>User Test</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var User in Model.Users)
        {
            <tr>
                <td>@User.ID</td>
                <td>@User.Name</td>
            </tr>
        }
        </tbody>
    </table>
    </body>
    </html>